<footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-lg-6">
            <h4>Liên Hệ Chúng Tôi</h4>
            <p>Bạn cần sự hỗ trợ của chúng tôi chỉ cần để email tại đây!</p>
            <form id="newsletter-form" action="https://formspree.io/f/xeojjqyg" method="POST">
              <div class="newsletter-form">
                <input type="email" id="email" name="email" placeholder="Nhập email của bạn" required>
                <input type="submit" value="Subscribe">
              </div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Bạn đã gửi thành công. Cảm ơn bạn!</div>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-chinh">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="\" class="d-flex align-items-center">
              <img src="../public/img/logo1.png" alt="">
            </a>
            <div class="footer-contact pt-3">
              <p>Lô 01, QL1A, thôn Quá Giáng, xã Hòa Phước,</p>
              <p> huyện Hòa Vang, TP Đà Nẵng.</p>
              <p class="mt-3"><strong>Số Diện Thoại:</strong> <span>0375 584 211</span></p>
              <p><strong>Email:</strong> <span>duongisuzudanang@gmail.com</span></p>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Tiện Ích</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/gioi-thieu">Giới Thiệu</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/bang-gia">Bảng Giá </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/tin-tuc">Tin Tức</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/lien-he">Liên Hệ</a></li>
            </ul>
          </div>
  
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Sản Phẩm</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Isuzu DMAX</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Isuzu MU-X</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Isuzu Q-Series</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Isuzu N-Series</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Isuzu F-Series</a></li>
            </ul>
          </div>
  
          <div class="col-lg-4 col-md-12 px-auto">
            <h4>Liên Hê Tôi</h4>
            <p>bạn có thể liên hệ cho tôi qua các nền tảng sau:</p>
            <div class="social-links d-flex">
              <a  href="https://mail.google.com/mail/?view=cm&to=duongisuzudanang@gmail.com&su=T%C6%B0%20V%E1%BA%A5n%20Xe" target="_blank"><img src="../public/img/logogmail.png" alt="Zalo Logo"></i></a>
              <a href="https://www.facebook.com/profile.php?id=61557283056157&locale=vi_VN"><img src="../public/img/logoface.png" alt="Zalo Logo"></i></a>
              <a href="https://www.facebook.com/messages/t/248819978318470?locale=vi_VN" target="_blank"><img src="../public/img/logomes.png" alt="Zalo Logo"></i></a>
              <a href="https://zalo.me/0375584211"><img src="../public/img/logozalo.png" alt="Zalo Logo"></a>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    

    

  </footer>