<header id="header" class="header sticky-top">
    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="contact-info d-flex align-items-center">              
              <i class="bi bi-geo-alt-fill d-flex align-items-center ms-4">
                <span>Lô 01, Quốc lộ 1A, Thôn Quá Giáng, Xã Hòa Phước,<br> Huyện Hòa Vang, TP.Đà Nẵng, Việt Nam.</span>
              </i>
          </div>
          <div class="social-links d-none d-md-flex align-items-center hosting">
             
              <i class="bi bi-phone d-flex align-items-center ms-4 icon">
                <span class="txt">Hotline 24/7</span>
             </i>
            
              
          </div>
          <div class="social-links d-none d-md-flex align-items-center">
            <span class="img txt">Liên hệ</span>
            <a class="img" href="https://zalo.me/0375584211" class="zalo">
              <img src="../public/img/logozalo.png" alt="Zalo" />
          </a>
          <a class="img" href="https://www.facebook.com/profile.php?id=61557283056157&locale=vi_VN" class="facebook">
            <img src="../public/img/logoface.png" alt="Zalo" />
          </a>
          
          <a href="https://mail.google.com/mail/?view=cm&to=duongisuzudanang@gmail.com&su=T%C6%B0%20V%E1%BA%A5n%20Xe"><span class="gmail">
            <i class="bi bi-envelope d-flex align-items-center icon ">
            <span>0375584211</span>
           </i>
          </a>
          </span>
          
              
          </div>
         
          
      </div>
  </div>
  
    <!-- End Top Bar -->

    <div class="branding d-flex align-items-cente">
      <div
        class="container position-relative d-flex align-items-center justify-content-between"
      >
        <a href="/" class="logo d-flex align-items-center">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="../public/img/logo1.png" alt="" />
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
              <li><a href="/" class="active">Trang Chủ</a></li>
              <li><a href="/gioi-thieu">Giới Thiệu</a></li>
              <li class="dropdown">
                  <a href="#"
                      ><span>Sản Phẩm</span>
                      <i class="bi bi-chevron-down toggle-dropdown"></i
                  ></a>
                  <ul id="nav-product">
                      <li><a id="btn-QRK" href="/danh-muc">ISUZU QKR<img src="../public/img/nav/q-serriess-022.png" alt=""></a></li>
                      <li><a id="btn-N-SERIES" href="/danh-muc">ISUZU N-SERIES<img src="../public/img/nav/isuzu-5t1.png" alt=""></a></li>
                      <li><a id="btn-F-SERIES" href="/danh-muc">ISUZU F-SERIES<img src="../public/img/nav/isuzu-16t-.png" alt=""></a></li>
                      <li><a id="btn-E-SERIES" href="/danh-muc">E-SERIES (ĐẦU KÉO)<img src="../public/img/nav/img-menu-11.png" alt=""></a></li>
                      <li><a id="btn-D-MAX" href="/danh-muc">ISUZU D-MAX<img src="../public/img/nav/Hi-Lander-2.png" alt=""></a></li>
                      <li><a id="btn-MU-X" href="/danh-muc">ISUZU MU-X<img src="../public/img/nav/mu-X-B7.png" alt=""></a></li>
                  </ul>
              </li>
              <li><a href="/bang-gia">Bảng Giá</a></li>
              <li><a href="/tra-gop">Trả Góp</a></li>
              <li><a href="/bao-hanh-va-hau-mai">Bảo Hành và Hậu Mãi </a></li>
              <li><a href="/tin-tuc">Tin Tức</a></li>
              <li><a href="/lien-he">Liên Hệ</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      
      </div>
    </div>
  </header>