<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Sản Phẩm</title>
    <meta name="description" content="Đại lý chính hãng Isuzu tại Đà Nẵng cung cấp các dòng xe Isuzu mới nhất với giá tốt nhất. Liên hệ ngay để biết thêm chi tiết và nhận ưu đãi.">
    <meta name="keywords" content="Isuzu Đà Nẵng, xe Isuzu Đà Nẵng, mua xe Isuzu, đại lý Isuzu Đà Nẵng, xe tải Isuzu, xe bán tải Isuzu">

     <!-- Favicons -->
     <link href="/public/img/favicon.ico" rel="icon" type="image/png">
     <link href="/public/img/favicon.ico" rel="apple-touch-icon">
     <link href="/public/img/favicon.ico" rel="apple-touch-icon-precomposed">
   
     <!-- Schema Markup for Organization -->
     <script type="application/ld+json">
     {
       "@context": "https://schema.org",
       "@type": "Organization",
       "name": "Isuzu Đà Nẵng",
       "url": "https://www.isuzudanang.com.vn",
       "logo": "https://www.isuzudanang.com.vn/public/img/favicon.ico"
     }
     </script>
  </script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="./public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="./public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="./public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="./public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="./public/css/main.css" rel="stylesheet" />
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body class="index-page">
    <%- include('./partials/header'); %>

    <main class="main">
      <div class="page-title" data-aos="fade">
        <div
          class="container d-lg-flex justify-content-between align-items-center"
        >
          <h1 class="mb-2 mb-lg-0">Danh Mục</h1>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/">Trang Chủ</a></li>
              <li class="current">Danh Mục</li>
            </ol>
          </nav>
        </div>
      </div>
      <section id="team" class="team section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>ISUZU</h2>
          <p>
            <span id="category" class="description-title">Mu-X</span>
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            <div class="row" id="carList">
              <!-- Placeholder for car data -->
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer'); %>

    <!-- Scroll Top -->
   

    <!-- Preloader -->

    <!-- Vendor JS Files -->
    <script src="./public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./public/vendor/php-email-form/validate.js"></script>
    <script src="./public/vendor/aos/aos.js"></script>
    <script src="./public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./public/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="./public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./public/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./public/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="./public/js/main.js"></script>
    <script src="./public/js/category.js"></script>
  </body>
</html>
