<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Bảng Giá - Mua Bán Xe Isuzu Tại Đà Nẵng - Đại Lý Chính Hãng</title>
    <meta name="description" content="Đại lý chính hãng Isuzu tại Đà Nẵng cung cấp các dòng xe Isuzu mới nhất với giá tốt nhất. Liên hệ ngay để biết thêm chi tiết và nhận ưu đãi.">
    <meta name="keywords" content="Isuzu Đà Nẵng, xe Isuzu Đà Nẵng, mua xe Isuzu, đại lý Isuzu Đà Nẵng, xe tải Isuzu, xe bán tải Isuzu">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://isuzudangnang.com.vn/bang-gia" />
    
    <!-- Favicons -->
    <link href="../public/img/iconlogo.png" rel="icon" />
    <link href="../public/img/iconlogo.png" rel="apple-touch-icon" />
    <link href="../public/img/iconlogo.png" rel="apple-touch-icon-precomposed" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../public/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="../public/vendor/aos/aos.css" rel="stylesheet" />
    <link href="../public/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    
    <!-- Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet" />

    <!-- Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "Isuzu Đà Nẵng",
          "url": "https://isuzudangnang.com.vn/",
          "logo": "https://isuzudangnang.com.vn/public/img/iconlogo.png",
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "0375 584 211",
            "contactType": "Customer Service"
          },
          "sameAs": [
            "https://zalo.me/0375584211",
            "https://mail.google.com/mail/?view=cm&to=duongisuzudanang@gmail.com&su=T%C6%B0%20V%E1%BA%A5n%20Xe",
            "https://www.facebook.com/profile.php?id=61557283056157&locale=vi_VN"
          ]
        }
        </script>
  </head>

  <body class="index-page">
    <%- include('./partials/header'); %>
    <main class="main">
        <div class="page-title" data-aos="fade">
            <div class="container d-lg-flex justify-content-between align-items-center">
              <h1 class="mb-2 mb-lg-0">Bảng Giá</h1>
              <nav class="breadcrumbs">
                <ol>
                  <li><a href="/">Trang Chủ</a></li>
                  <li class="current">Bảng Giá</li>
                </ol>
              </nav>
            </div>
        </div><!-- End Page Title -->
        <main class="section-guarantee">
            <section class="section">
                <h2 class="section-title">Bảo Hành và Hâu Mãi</h2>

                <h4 class="sub-section-title ">BẢO HÀNH VÀ BẢO DƯỠNG</h4>
                <p class="section-description"><b>ISUZU ĐẠI THỊNH</b> được đầu tư trang thiết bị hiện đại, đồng bộ với đội ngũ kỹ thuật viên nhiều kinh nghiệm, thợ có tay nghề cao, Quý khách sẽ yên tâm khi đến với chúng tôi</p>
                <p class="section-description">ISUZU Đại Thịnh luôn đồng hành cùng bạn và sẵn sàng cho các dịch vụ:</p>
                <ul class="services-list">
                    <a href="#id-1" class="a"><li class="service-item">Sửa chữa tổng quát</li></a>
                    <a href="#id-2" class="a"><li class="service-item">Sửa chữa đồng sơn</li></a>
                    <a href="#id-3" class="a"><li class="service-item">Bảo dưỡng định kỳ</li></a>
                    <a href="#id-4" class="a"><li class="service-item">Liên kết bảo hiểm thân xe</li></a>
                    <a href="#id-5" class="a"><li class="service-item">Chế độ ưu đãi và bảo hành riêng</li></a>
                    <a href="#id-6" class="a"><li class="service-item">Cứu PAN, sửa chữa lưu động và tư vấn kỹ thuật</li></a>
                    <a href="#id-7" class="a"><li class="service-item">Chính sách bảo hành và phiếu bảo dưỡng miễn phí</li></a>
                </ul>
            </section>
            <section id="id-1" class="section">
                <h4 class="sub-section-title ">1. Sửa chữa tổng quát:</h4>
                <p class="section-description">Phụ tùng thay thế chính hãng cho tất cả các chủng loại và thương hiệu xe.</p>
                <p class="section-description">Tư vấn và bảo dưỡng định kỳ; chuyên sửa chữa điện, điện lạnh, gầm máy, động cơ, đồng sơn.</p>
                <p class="section-description">Chính sách giá hợp lý, chất lượng đảm bảo, thời gian thực hiện đúng cam kết và ưu đãi đặc biệt cho Khách hàng thường xuyên.</p>
                <ul class="services-list">
    
                    <li class="service-item">Kéo xe miễn phí (đoạn đường < 20 km) tính từ Công ty CP ĐẠI THỊNH.</li>
                    <li class="service-item">Cơm trưa miễn phí cho Tài xế tại căn tin Công ty.</li>
                    <li class="service-item">Tư vấn hoặc sửa chữa xe hư hỏng trên đường bằng xe sửa chữa lưu động.</li>
                    <li class="service-item">Sửa chữa xe tại chỗ hoặc có xe sửa chữa lưu động phục vụ tận nơi (khi có yêu cầu).</li>
                    <li class="service-item">Có phòng nghỉ và giải trí cho Khách hàng trong thời gian chờ sửa chữa, bảo dưỡng xe.</li>
                </ul>
            </section>
            <section id="id-2" class="section">
                <h4 class="sub-section-title">2. Sửa chữa đồng sơn:</h4>
                <p class="service-description"> Kết hợp kỹ thuật tiên tiến và sự lành nghề của các Kỹ thuật viên, chất lượng và thời gian thực hiện của dịch vụ đồng sơn tại Công ty chúng tôi luôn mang đến sự hài lòng cao nhất cho Quý khách.</p>
                <p class="service-description">Phòng sơn hấp hiện đại, hệ thống pha sơn điện tử và sử dụng sơn của các hãng nổi tiếng trên thế giới.</p>
            </section>
    
            <section id="id-3" class="section">
                <h4 class="sub-section-title">3. Bảo dưỡng định kỳ:</h4>
                <p class="service-description">Để đảm bảo cho xe của Quý khách được hoạt động bền bỉ và hiệu quả nhất, Quý khách cần tiến hành bảo dưỡng định kỳ theo đúng khuyến cáo của Nhà sản xuất.</p>
                <p class="service-description">Với những Kỹ thuật viên được đào tạo chuyên nghiệp, kết hợp: quy trình bảo dưỡng đúng tiêu chuẩn – trang thiết bị hiện đại – phụ tùng chính hãng, chúng tôi tin tưởng chiếc xe thân yêu của Quý khách sẽ luôn vận hành êm ái, tiết kiệm nhiên liệu và bền bỉ theo thời gian.</p>
                
            </section>
                
            <section id="id-4" class="section">
                <h4 class="sub-section-title">4. Liên kết bảo hiểm thân xe:</h4>
                <p class="service-description">Công ty chúng tôi đã và đang liên kết với các đơn vị bảo hiểm uy tín trên thị trường (như: Bảo Việt, Liberty, PVI…), do vậy có thể phục vụ Quý khách được nhanh chóng (tránh phiền hà và mất thời gian đi lại do thủ tục đòi đơn vị bảo hiểm bồi thường).</p>
                <p class="service-description">Khi xe của Quý khách bị hư hỏng, va quẹt, trầy xước do tai nạn hoặc rủi ro bất ngờ: hãy gọi cho chúng tôi theo số Nhân viên (gặp phòng dịch vụ) hoặc điện thoại Hotline đội ngũ Cố vấn dịch vụ sẵn sàng hướng dẫn thủ tục bảo hiểm và đưa ra phương án sửa chữa tốt nhất, thời gian hoàn tất công việc nhanh nhất, chất lượng xe xuất xưởng hoàn hảo.</p>
                
            </section>
            <section id="id-5" class="section">
                <h4 class="sub-section-title">5. Chế độ ưu đãi và bảo hành riêng của ISUZU ĐẠI THỊNH:</h4>
                <p class="service-description">Phụ tùng thay thế chính hãng 100% được bảo hành 03 tháng hoặc 3.000 km (tùy theo điều kiện nào đến trước); Phụ tùng luôn đáp ứng đầy đủ khi Quý khách có yêu cầu.</p>
                <p class="service-description">Sửa chữa xe thứ bảy và chủ nhật (Khách hàng liên hệ trước).</p>
                <p class="service-description">Có nhiều chế độ ưu đãi cho Khách hàng có nhiều xe và những Công ty có ký hợp đồng sửa chữa dài hạn.</p>
                
            </section>
                
            <section id="id-6" class="section">
                <h4 class="sub-section-title">6. Cứu PAN, sửa chữa lưu động và tư vấn kỹ thuật:</h4>
                <p class="service-description">ISUZU ĐẠI THỊNH là đại lý có liên kết với các đơn vị cứu hộ uy tín – giá cả hợp lý – nhanh chóng – an toàn.</p>
                <p class="service-description">ISUZU ĐẠI THỊNH đang có dịch vụ sửa chữa lưu động, nếu xe của Quý khách gặp trục trặc hư hỏng trên đường hoặc Quý khách có nhu cầu bảo dưỡng tận nơi, xin vui lòng liên hệ ngay với chúng tôi theo số: (08) 37270983 (gặp phòng dịch vụ) hoặc điện thoại nóng, chúng tôi sẽ tư vấn và hỗ trợ kịp thời.</p>
                
            </section>
                
           
            <section id="id-7" class="section">
                <h4 class="sub-section-title"> 7. Chính Sách Bảo Hành và Phiếu Bảo Dưỡng Miễn Phí:</h4>
                <p class="section-description">Customer care của IVC (Isuzu Việt Nam Corporation) đối với xe mua mới:</p>
                <ul class="policy-list">
                    <li class="policy-item">Đối với dòng Q-Series, N-Series, F-Series: bảo hành 03 năm không giới hạn số Km kể từ ngày đăng ký bảo hành.</li>
                    <li class="policy-item">Đối với dòng E-Series (xe đầu kéo): bảo hành 03 năm hoặc 100.000 Km (tùy theo điều kiện nào đến trước) kể từ ngày đăng ký bảo hành.</li>
                    <li class="policy-item">Đối với dòng xe LCV "D-Max, Mu-X": bảo hành 05 năm hoặc 200.000 Km (tùy theo điều kiện nào đến trước) kể từ ngày đăng ký bảo hành.</li>
                </ul>
                <h5 class="sub-section-title">Phiếu bảo dưỡng Customer Care:</h5>
                <table class="maintenance-table">
                    <thead>
                        <tr>
                            <th>Model xe áp dụng</th>
                            <th>Nội dung</th>
                            <th>Thời hạn sử dụng (tùy điều kiện nào đến trước)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Q-Series</td>
                            <td>Khách hàng được 12 lần miễn phí công bảo dưỡng & 12 lần giảm giá nhớt + phụ tùng bảo dưỡng</td>
                            <td>3 năm không giới hạn km</td>
                        </tr>
                        <tr>
                            <td>N-Series, FRR</td>
                            <td>Khách hàng được 9 lần miễn phí công bảo dưỡng & 9 lần giảm giá nhớt + phụ tùng bảo dưỡng</td>
                            <td>3 năm không giới hạn km</td>
                        </tr>
                        <tr>
                            <td>FVR, FVM, FVZ</td>
                            <td>Khách hàng được 13 lần miễn phí công bảo dưỡng & 13 lần giảm giá nhớt + phụ tùng bảo dưỡng</td>
                            <td>3 năm không giới hạn km</td>
                        </tr>
                        <tr>
                            <td>MU-X, D-MAX</td>
                            <td>Khách hàng được 4 lần miễn phí công bảo dưỡng & 4 lần giảm giá nhớt + phụ tùng bảo dưỡng</td>
                            <td>3 năm không giới hạn km</td>
                        </tr>
                        <tr>
                            <td>E-Series</td>
                            <td>Khách hàng được 15 lần miễn phí công bảo dưỡng & 15 lần giảm giá nhớt + phụ tùng bảo dưỡng</td>
                            <td>3 năm không giới hạn km</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        
    </main>
    <%- include('./partials/footer'); %>
   
      <!-- Preloader -->
  
      <!-- Vendor JS Files -->
      <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../public/vendor/php-email-form/validate.js"></script>
      <script src="../public/vendor/aos/aos.js"></script>
      <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="../public/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="../public/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
      <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  
      <!-- Main JS File -->
      <script src="../public/js/main.js"></script>
    
    </body>
  </html>