<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Trả Góp</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="./public/img/iconlogo.png" rel="icon" />
    <link href="./public/img/iconlogo.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="./public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="./public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="./public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="./public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="./public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="./public/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script>
      (function () {
        emailjs.init("KJj5QHodQ1BNw1pKL"); // Thay YOUR_USER_ID bằng User ID từ EmailJS
      })();
    </script>
  </head>

  <body class="index-page">
    <%- include('./partials/header'); %>
    <main class="main">
        <div class="page-title" data-aos="fade">
            <div
              class="container d-lg-flex justify-content-between align-items-center"
            >
              <h1 class="mb-2 mb-lg-0">Trả Góp</h1>
              <nav class="breadcrumbs">
                <ol>
                  <li><a href="\">Trang Chủ</a></li>
                  <li class="current">Trả Góp</li>
                </ol>
              </nav>
            </div>
        </div>
      <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Trả Góp</h2>
          <p>
            <span>Mua xe tải ISUZU trả góp như thế nào ?</span>
           
            
          </p>
          
        </div>
        <div class="item-txt" data-aos="fade-up">
            <p class="txt">Là trả trước một phần tiền mua xe, phần còn thiếu sẽ vay ngân hàng rồi hàng tháng trả dần cho ngân hàng cả gốc và lãi theo phuơng thức trừ lùi trong suốt thời gian trả góp mua xe tải ISUZU trả góp</p>
            <p class="txt">Hỗ trợ tư vẫn mua xe tải trả góp tới 80% giá trị xe, thời gian vay tối đa 7 năm. Thủ tục đơn giản nhanh gọn, thời gian thẩm duyệt trong vòng 24h, kể cả khách hàng ở tỉnh. Vui lòng liên hệ <b>Hotline</b> để được tư vấn chính xác.</p>
        </div>
        <div class="container section-title" data-aos="fade-up">
          
            <p>
              
              <span class="description-title">ĐĂNG KÍ MUA Ô TÔ TRẢ GÓP</span>
              
            </p>
            
          </div>
        
        <!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-5">
              <div class="info-wrap">
                <div
                  class="info-item d-flex"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h3>Địa Chỉ</h3>
                    <p>Lô 01, Quốc lộ 1A, Thôn Quá Giáng, Xã Hòa Phước, Huyện Hòa Vang, TP.Đà Nẵng, Việt Nam.</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div
                  class="info-item d-flex"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <i class="bi bi-telephone flex-shrink-0"></i>
                  <div>
                    <h3>Số Điện Thoại</h3>
                    <p> 0375584211</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <div
                  class="info-item d-flex"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h3>Email</h3>
                    <p>duongisuzudanang@gmail.com</p>
                  </div>
                </div>
                <!-- End Info Item -->

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.602650156285!2d108.2072038!3d16.0001513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a1d2b5e4709%3A0x38217ff755564f0b!2sH%C3%B2a%20Xu%C3%A2n%2C%20C%E1%BA%A9m%20L%E1%BB%87%2C%20%C4%90%C3%A0%20N%E1%BA%B5ng%2C%20Vi%E1%BB%87t%20Nam!5e0!3m2!1svi!2s!4v1686211832050!5m2!1svi!2s" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

              </div>
            </div>

            <div class="col-lg-7">
              <form
                id="contactForm"
                method="post"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <label for="name-field" class="pb-2">Tên</label>
                    <input
                      type="text"
                      name="name"
                      id="name-field"
                      class="form-control"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <label for="email-field" class="pb-2">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email-field"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <label for="subject-field" class="pb-2"
                      >Số Điện Thoại</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      id="subject-field"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <label for="message-field" class="pb-2">Model xe muốn trả góp</label>
                    <textarea
                      class="form-control"
                      name="message"
                      rows="10"
                      id="message-field"
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Đã Gửi Thành Công. Cảm Ơn!</div>

                    <button type="submit">Đăng Ký</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- /Contact Section -->
    </main>

    <%- include('./partials/footer'); %>
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <a href="https://zalo.me/0375584211" id="scroll-top" class="scroll-top-zalo d-flex align-items-center justify-content-center">
      <img src="../public/img/logozalo.png" alt="Zalo Logo">
    </a>
    <a href="tel:84375584211" id="scroll-top" class="scroll-top-phone d-flex align-items-center justify-content-center">
      <i class="bi bi-telephone-fill"></i>
    </a>
    <!-- Preloader -->

    <!-- Vendor JS Files -->
    <script src="./public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./public/vendor/php-email-form/validate.js"></script>
    <script src="./public/vendor/aos/aos.js"></script>
    <script src="./public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./public/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="./public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./public/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="./public/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="./public/js/main.js"></script>
    <script src="./public/js/sendmail.js"></script>
  </body>
</html>
