<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Giới Thiệu</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../public/img/iconlogo.png" rel="icon" />
    <link href="../public/img/iconlogo.png" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet" />
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body class="index-page">
    <%- include('./partials/header'); %>

    <main class="main">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://isuzudanang.net/image/banner02.jpg" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
              <img src="https://isuzudanang.net/image/banner01.jpg" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
              <img src="https://isuzudanang.net/image/isuzu-e5.jpg" class="d-block w-100" alt="Slide 3">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
         <!-- Page Title -->
        <div class="page-title" data-aos="fade">
        <div class="container d-lg-flex justify-content-between align-items-center">
          <h1 class="mb-2 mb-lg-0">GIỚI THIỆU ISUZU ĐẠI THỊNH</h1>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="\">Trang Chủ</a></li>
              <li class="current">Giới Thiệu</li>
            </ol>
          </nav>
        </div>
        </div><!-- End Page Title -->
        <section id="details" class="details">
            <div class="container">
      
                <div class="row content bg-">
                    <div class="col-md-6 pt-4 mx-auto order-2 order-md-1" data-aos="fade-right">
                      <img src="../public/img/interdue/isuzu-minh-nhi.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 pt-5 mx-auto order-2 order-md-1" data-aos="fade-up">
                      <h3>Công ty Cổ phần Ô tô Đại Thịnh</h3>
                      <p class="fst-italic">
                        Công ty Cổ phần Ô tô Đại Thịnh (Isuzu Đại Thịnh) thuộc hệ thống Công ty Cổ phần Savico Đà Nẵng là Đại lý Isuzu theo tiêu chuẩn 3S duy nhất của Công ty TNHH Ô tô Isuzu Việt Nam tại Đà Nẵng.
                      </p>
                      <p>
                        Trụ sở Isuzu  Đại Thịnh tọa lạc tại vị trí: Lô 01, QL1A, Thôn Quá Giáng, Xã Hòa Phước, Huyện Hòa Vang, TP.Đà Nẵng, Việt Nam. Đại lý ISUZU Đại Thịnh có tổng diện tích khu trưng bày là 1.000 m2 , diện tích khu vực hậu mãi là 2.700 m2.
                      </p>
                      <p class="fst-italic">
                        Ngoài ra, Isuzu Đại Thịnh còn có chi nhánh Isuzu Bình Định tại địa chỉ: Đường Trần Phú, QL1A, Thị Trấn Tuy Phước, Huyện Tuy Phước, Tỉnh Bình Định. Với diện tích xây dựng hơn 3000m2, chi nhánh Isuzu Bình Định trang bị đầy đủ các loại thiết bị hiện đại, máy móc chuyên dụng đáp ứng nhu cầu trải nghiệm các dòng xe mới cũng như dịch vụ hậu mãi chính hãng Isuzu.
                      </p>
                    </div>
                  </div>
                  
                  <div class="row content">
                    <div class="col-md-6 pt-4 mx-auto order-1 order-md-2" data-aos="fade-left">
                      <img src="../public/img/interdue/gioi-thieu-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 mx-auto pt-5 order-2 order-md-1" data-aos="fade-up">
                      <p>Chúng tôi chuyên cung cấp các sản phẩm xe tải thương hiệu Isuzu, xe tải nhẹ Isuzu QKR, xe tải nhẹ Isuzu N-Series, xe tải nặng Isuzu F-Series. Các dòng SUV 7 chỗ mu-X, xe bán tải Isuzu D-MAX. Các sản phẩm thuộc thương hiệu Isuzu đã tạo được sự tín nhiệm của khách hàng trên thị trường.</p>
                      <p>
                        Tọa lạc trên tuyến đường huyết mạch lưu thông hàng hoá cả nước. Với sự thuận lợi trong nhận diện và tiếp cận giao thông, nằm trên trục kết nối các tỉnh, thành phố năng động miền Trung, ISUZU ĐẠI THỊNH và chi nhánh ISUZU BÌNH ĐỊNH sẽ cung cấp các dịch vụ đến với khách hàng một cách nhanh chóng và thuận tiện nhất.
                      </p>
                      <p>
                        Với đội ngũ kinh doanh chuyên nghiệp, am hiểu dòng xe luôn tận tình giúp quý khách lựa chọn chiếc xe phù hợp nhất bằng các dịch vụ tốt nhất. Tại đây khách hàng sẽ được phục vụ tiêu chuẩn 3S gồm Bán hàng (Sales), Bảo hành, bảo dưỡng, sửa chữa (Service), và cung cấp phụ tùng chính hãng (Spare Part).
                      </p>
                    </div>
                  </div>
                  
      
              <div class="row content">
                <div class="col-md-6 pt-4 mx-auto order-2 order-md-1" data-aos="fade-right">
                  <img src="../public/img/interdue/gioi-thieu-3.jpg" class="img-fluid" alt="">
                  
                </div>
                <div class="col-md-6 pt-5 mx-auto order-2 order-md-1" data-aos="fade-up">
                    <h4>Đôi nét về thương hiệu Isuzu</h4>
                    <p>
                      Công ty TNHH Ô tô Isuzu Việt Nam được thành lập vào ngày 19.10.1995 là doanh nghiệp liên doanh Việt Nam – Nhật Bản, hoạt động trong lĩnh vực nhập khẩu, lắp ráp & phân phối đa dạng các sản phẩm xe thương mại & xe ô tô bao gồm: các dòng xe tải nhẹ – trung- nặng, xe chuyên dùng, khung gầm xe buýt cũng như xe bán tải, xe SUV 7 chỗ.
                    </p>
                    <p>
                      Từ năm 2018, Isuzu Việt Nam chính thức cho ra mắt loạt xe tải thế hệ mới trang bị động cơ công nghệ Common Rail cải tiến mang tên Blue Power và một lần nữa tiên phong đáp ứng tiêu chuẩn khí thải Euro 4 theo yêu cầu của Chính phủ.
                    </p>
                    <p class="fst-italic">
                        Với nhận thức “Sản phẩm tốt nhất là sản phẩm không ngừng cải tiến”, Isuzu Việt Nam luôn không ngừng cải tiến chất lượng sản phẩm và dịch vụ hậu mãi để đóng góp nhiều hơn cho sự phát triển kinh doanh của khách hàng. Bên cạnh đó, Isuzu Việt Nam còn tổ chức các hoạt động vì cộng đồng “Trái tim và nụ cười” định kỳ hằng năm, góp phần phát triển cùng nền kinh tế và xã hội Việt Nam.
                      </p>
                  
                </div>
              </div>
      
              <div class="row content">
                <div class="col-md-6 pt-4 mx-auto order-1 order-md-2 mt-2" data-aos="fade-left">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.602650156285!2d108.2072038!3d16.0001513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421a1d2b5e4709%3A0x38217ff755564f0b!2sH%C3%B2a%20Ph%C6%B0%E1%BB%9Bc%2C%20H%C3%B2a%20Vang%2C%20Da%20Nang%2C%20Vietnam!5e0!3m2!1sen!2sus!4v1686211832050!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="col-md-6 mx-auto pt-5 order-2 order-md-1" data-aos="fade-up">
                
                  
                  <h4>Mọi thông tin chi tiết xin vui lòng liên hệ:</h4>
                  <ul>
                    <li><i class="bi bi-building-fill"></i> Địa chỉ trụ sở chính: Lô 01, Quốc lộ 1A, Thôn Quá Giáng, Xã Hòa Phước, Huyện Hòa Vang, TP.Đà Nẵng, Việt Nam.</li>
                    <li><i class="bi bi-phone"></i> Điện thoại Đà Nẵng: 0375584211</li>
                    <li><i class="bi bi-envelope-fill"></i> Email: duongisuzudanang@gmail.com</li>
                    <li><i class="bi bi-globe"></i> Website: <a href="http://isuzudanang.com.vn">http://isuzudanang.com.vn</a></li>
                    <li><i class="bi bi-chat-text"></i>> Zalo OA: <a href="https://zalo.me/0979294221">https://zalo.me/0375584211</a></li>
                    <h3>ISUZU ĐẠI THỊNH</h3>
                    <p>Địa Chỉ: Lô 01, QL1A, Thôn Quá Giáng, Xã Hòa Phước, Huyện Hòa Vang, TP. Đà Nẵng  </p>
                  </ul>
                </div>
              </div>
      
            </div>
        </section>
   
    </main>
    <%- include('./partials/footer'); %>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <a href="https://zalo.me/0375584211" id="scroll-top" class="scroll-top-zalo d-flex align-items-center justify-content-center">
      <img src="../public/img/logozalo.png" alt="Zalo Logo">
    </a>
    <a href="tel:84375584211" id="scroll-top" class="scroll-top-phone d-flex align-items-center justify-content-center">
      <i class="bi bi-telephone-fill"></i>
    </a>

    <!-- Preloader -->

    <!-- Vendor JS Files -->
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../public/vendor/php-email-form/validate.js"></script>
    <script src="../public/vendor/aos/aos.js"></script>
    <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../public/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../public/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="../public/js/main.js"></script>
    
  </body>
</html>
