<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Tin Tức</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/public/img/logo tron IDT1.png" rel="icon" type="image/png">
    <link href="/public/img/favicon.ico" rel="apple-touch-icon">
    <link href="/public/img/logo tron IDT1.png" rel="apple-touch-icon-precomposed">
  
    <!-- Schema Markup for Organization -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Isuzu Đà Nẵng",
      "url": "https://www.isuzudanang.com.vn",
      "logo": "https://www.isuzudanang.com.vn/public/img/logo tron IDT1.png"
    }
    </script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../public/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../public/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="../public/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../public/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="../public/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet" />
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <!-- =======================================================
  * Template Name: BizLand
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Updated: Jun 06 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body class="index-page">
    <%- include('./partials/header'); %>

    <main class="main">
      
        <div class="page-title" data-aos="fade">
            <div
              class="container d-lg-flex justify-content-between align-items-center"
            >
              <h1 class="mb-2 mb-lg-0">Tin Tức</h1>
              <nav class="breadcrumbs">
                <ol>
                  <li><a href="\">Trang Chủ</a></li>
                  <li class="current">Tin Tức</li>
                </ol>
              </nav>
            </div>
        </div>
        <section id="service-details" class="service-details section">
            <div class="container">
                <div class="new-Lq1">
                
                    <a href="/tin-tuc/chi-tiet-tin-tuc"><img src="../public/img/TinTuc/qkr2704.jpg" alt="" class="img-fluid services-img"/></a>
                    <a href="/tin-tuc/chi-tiet-tin-tuc"><h4>Chương trình khuyển mãi rộn ràng</h4></a>
                    <p>bắt đầu từ ngày 5 tháng 12 đến 10 tháng 2 chúng tôi có chương trình khuyến mãi ....</p>
                    <button  onclick="window.location.href='/tin-tuc/chi-tiet-tin-tuc'">Xem Chi Tiết</button>
                </div>
                
               
            </div>
            
        </section>
    </main>

    <%- include('./partials/footer'); %>

    <!-- Scroll Top -->
    

    <!-- Preloader -->

    <!-- Vendor JS Files -->
    <script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../public/vendor/php-email-form/validate.js"></script>
    <script src="../public/vendor/aos/aos.js"></script>
    <script src="../public/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../public/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../public/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../public/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../public/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../public/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="../public/js/main.js"></script>
    <script>
            document.getElementById('myButton').addEventListener('click', function() {
               
                window.location.href = '/tin-tuc/chi-tiet-tin-tuc'; 
            });
        
    </script>

  </body>
</html>
